@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic,600,300,300italic,600italic,800,800italic&subset=latin,cyrillic);

* {
    box-sizing: border-box;
}

::selection {
    color: #ffffff;
    background: #198d28;
}

body
{
    margin:0 auto;
    font-family: 'Open Sans', sans-serif;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* index */
.index nav section ul {
        margin:0;
        list-style-type:none;
        padding-left:5px;
   }
.index nav ul li:first-child {
    font-size: 1.2em;
    color: #02bb00;
    margin-bottom: 4px;
    font-weight: bold;
    text-transform: uppercase;
}
.index nav ul li {
    margin-bottom:3px;
}
.index nav a {   
    font-size: 1.1em;
	text-transform: lowercase;
    color: #4b4b4b;
    text-decoration: none;
    padding-left: 0px;
}
.index nav a:hover {
    color:#559be8;
    /border-bottom: 1px dashed #5c5c5c;
    transition: color 0.3s;
    transition-timing-function:ease-in-out;
}

footer {
    margin: 30px auto 20px auto;
    text-align: center;
}
footer a img {
    width: 70px;
    height: auto;
    opacity: 0.4;
        
}
footer a img:hover {
    height: auto;
    opacity: 1;
    transition: opacity 0.5s;
        
}

/* about */
.certificates img {
    width: 100%;
    border: 1px solid #b5b5b5;
    margin: 10px 0 10px 0;
}
.achievements h4 {
    color: #559be8;
}
.achievements li {
    font-size: 1.0em;
    list-style: none;
    clear: both;
    overflow:auto;
    vertical-align: middle;
    display: block;
    margin-bottom:10px;
}
.achievements ul li p {
    display: block; 
    vertical-align: middle;
    padding-left: 5px;
}

/* skills tree */
.skills .marks {
    clear: both;
    overflow: auto;
    width: 100%;
}
.skills ul{
    padding: 0;
}
.skills ul ul {
    padding-left: 15px;
}
.skills ul li {
        font-size: 1.7em;
        font-weight:bold;
        color:#424242;
        margin: 0;
        text-align:left;
        list-style: none;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
.skills ul li ul li {
    font-size: 0.8em;
    font-weight:bold;
    margin: 0;
    text-align:left;
}
.skills ul li ul li ul li {
    font-size: 0.9em;
    font-weight:bold;
    margin: 0;
    text-align:left;
}
.skills ul li ul li ul li ul li {}
.skills .marks p:first-child { background: #02bb00; } .skills .marks p:nth-child(2) { background: #1a7d27; }
.skills .marks p:nth-child(3) { background: #559be8; }.skills .marks p:nth-child(4) { background: #014b9d; }
.skills .marks p:nth-child(5) { background: #f85b00; } .skills .marks p:nth-child(6) { background: #b10000; }
.skills .marks p:nth-child(7) { background: #adadad; }

.skills .a { color: #02bb00; } .skills .b { color: #1a7d27; } .skills .c { color: #559be8; } .skills .d { color: #014b9d; }
.skills .e { color: #f85b00; } .skills .f { color: #b10000; } .skills .g { color: #adadad; }

/*  Generals */
.sub-index ul {
        padding: 0;
    }
.sub-index ul li {
    list-style: none;
    margin-bottom: 10px;
}
.sub-index ul li a {
    font-size: 1.2em;
	text-transform: capitalize;
    color: #4b4b4b;
    text-decoration: none;
    clear: both;
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #ffffff;
}
.sub-index ul li a:hover {
    color:#559be8;
    border-bottom: 1px solid #fff200;
    padding-left: 0px;
    transition: all 0.3s;
    transition-timing-function:ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
    color:#424242;
    margin:15px 0;
    text-align:center;
    text-align: left;
}

main .details {
    margin: 30px 0 10px 0;
    font-size: 1.2em;
    text-align: right;
}
main .details .author {
    font-size: 1.3em;
}
main .details time {
    font-size: 0.9em;
    text-transform: capitalize;
}
main nav ul {
    padding: 0;
    margin: 0;
    /border-bottom: 2px solid #fff200;
}
main nav li {
    display: inline-block;
    font-size: 1.2em;
    color: #424242;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
main nav li a {
    color: #02bb00;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
main nav li a:hover {
    color: #559be8;
    font-weight: bold;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}
main img {
    width: 100%;
}

main details summary {
    text-transform: capitalize;
    font-size: 1.2em;
}
main details summary:hover {
    cursor: pointer;
    text-transform: capitalize;
}
main details summary:focus{
    outline: none;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff200;
}
main details li a {
    font-size: 1em;
    color: #4b4b4b;
    text-decoration: none;
    padding-left: 0px;
}
main details li a:hover {
    color:#559be8;
    border-bottom: 1px dashed #5c5c5c;
    transition: color 0.3s;
    transition-timing-function:ease-in-out;
}

/* media queiries */

/* small mobile */
@media only screen and (max-width: 375px) {
    /* index  */
    .index .ava {
        width: 30%;
        display: block;
        margin: 10px auto 0 auto;
    }
    .index .name {
        font-size: 1.6em;
        /font-weight:bold;
        color:#424242;
        margin:15px 0;
        text-align:center;
    }

    .index nav {
        width: 95%;
        padding: 0 10px;
        margin: 10px auto;
    }
    .index .separator {
        width: 100%;
        border-bottom: 1px dashed #5c5c5c;
        margin-bottom: 15px;
    }
    .index nav section {
        width: 100%;
        height: 100%;
        float: left;
        display:inline-block;
		padding-right:10px;
        margin-bottom:10px;
    }
    
    /* about */
    .achievements img {
        width: 25px;
        float: left;
        margin-top: 3px;
    }
    .achievements ul {
        padding-left: 5px;
    }
    .contacts p {
        font-size: 1.6em;
        padding: 0;
        margin: 0;
    }

    /* skills tree */
    .skills .marks p {
        font-size: 1.0em;
        margin: 0;
        font-weight: bold;
        display: block;
        background: #b6ff00;
        width: 25px;
        height: 25px;
        float: left;
        margin: 0 10px 3px 0;
        text-align: center;
        padding: 3px 0 0 0;
        border-radius: 50px;
        color: #ffffff;
    }
    
    /* articles formatting */
    .important {
        font-style: italic;
        margin: 10px 0px;
        padding: 10px 15px;
        border-left: 6px solid #559be8;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* General */
     main {
        width: 90%;
        font-size: 0.8em;
        color: #5c5c5c;
        text-align: justify;
        margin: 10px auto 0 auto;
        padding: 0 10px;
        /background: #adadad;
    }

    h1 { font-size: 2.5em; border-bottom: 2px solid #fff200; }
    h2 { font-size: 2.1em; }
    h3 { font-size: 1.8em; border-bottom: 1px solid #fff200; } 
    h4 { font-size: 1.5em; margin-bottom: 0px; }
    h5 { font-size: 1.2em; } h6 { font-size:0.9em }

    p {
        margin: 5px 0 15px 0;
        font-size: 1.0em;
    }

    /* small mobile end */
}

/* mobile */
@media only screen and (min-width: 375px) and (max-width: 850px) {
    /* index  */
    .index .ava {
        width: 30%;
        display: block;
        margin: 10px auto 0 auto;
    }
    .index .name {
        font-size: 2.5em;
        /font-weight:bold;
        color:#424242;
        margin:15px 0;
        text-align:center;
    }
    .index nav {
        width: 94%;
        padding: 0 10px;
        margin: 10px auto;
        
        /background: #f85b00;
        /box-sizing: padding-box;
    }
    .index .separator {
        width: 100%;
        border-bottom: 1px dashed #5c5c5c;
        margin-bottom: 15px;
    }
    .index nav section {
        width: 100%;
        height: 100%;
        float: left;
        display:inline-block;
		padding-right:10px;
        margin-bottom:10px;
    }
    
    /* about */
    .achievements img {
        width: 35px;
        float: left;
        margin-top: 5px;
    }
    .achievements ul {
        padding-left: 10px;
    }
    .contacts p {
        font-size: 2em;
        padding: 0;
        margin: 0;
    }

    /* skills tree */
    .skills .marks p {
        font-size: 1.1em;
        margin: 0;
        font-weight: bold;
        display: block;
        background: #b6ff00;
        width: 35px;
        height: 35px;
        float: left;
        margin-right: 10px;
        text-align: center;
        padding: 7px 0 0 0;
        border-radius: 50px;
        color: #ffffff;
    }
    
    /* articles formatting */
    .important {
        font-style: italic;
        margin: 10px 0px;
        padding: 10px 15px;
        border-left: 6px solid #559be8;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* General */
     main {
        width: 94%;
        font-size: 0.9em;
        color: #5c5c5c;
        text-align: justify;
        margin: 10px auto 0 auto;
        padding: 0 10px;
        /background: #adadad;
    }

    h1 { font-size: 3em; border-bottom: 3px solid #fff200; }
    h2 { font-size: 2.5em; }
    h3 { font-size: 2em; border-bottom: 1px solid #fff200; } 
    h4 { font-size: 1.5em; margin-bottom: 0px; }
    h5 { font-size: 1.2em; } h6 { font-size:0.9em }

    p {
        margin: 5px 0 15px 0;
        font-size:1.2em;
    }

    /* mobile end */
}


/* tablets and desktop*/
@media only screen and (min-width: 850px) {
    /* index  */
    .index .ava {
        width: 18%;
        display: block;
        margin: 10px auto 0 auto;
    }
    .index .name {
        font-size: 3.6em;
        /font-weight:bold;
        color:#424242;
        margin:15px 0;
        text-align:center;
    }
    .index nav {
        width: 800px;
        padding: 0 10px;
        margin: 10px auto;
        
        /background: #f85b00;
        /box-sizing: padding-box;
    }
    .index .separator {
        width: 100%;
        border-top: 2px solid #fff200;
        margin-bottom: 15px;
    }
    .index nav section {
        width: 25%;
        height: 100%;
        float: left;
        display:inline-block;
		padding-right:10px;
        margin-bottom:10px;
    }
    
    /* about */
    .achievements img {
        width: 65px;
        float: left;
        margin-top: 0px;
    }
    .achievements ul {
        padding-left: 10px;
    }
    .contacts p {
        font-size: 2em;
        padding: 0;
        margin: 0;
    }

    /* skills tree */
    .skills .marks p {
        font-size: 2.8em;
        margin: 0;
        font-weight: bold;
        display: block;
        background: #b6ff00;
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 10px;
        text-align: center;
        padding: 7px 0 0 0;
        border-radius: 50px;
        color: #ffffff;
    }
    
    /* articles formatting */
    .important {
        /border: 1px dashed #d9d9d9;
        /background: #fffff3;
        /color: #b10000;
        /font-weight: bolder;
        font-style: italic;
        margin: 10px 0px;
        padding: 10px 15px;
        border-left: 10px solid #559be8;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    /* General */
     main {
        width: 800px;
        font-size: 1em;
        color: #5c5c5c;
        text-align: justify;
        margin: 10px auto 0 auto;
        padding: 0 10px;
        /background: #adadad;
    }

    h1 { font-size: 5em; border-bottom: 3px solid #fff200; }
    h2 { font-size: 3.5em; border-bottom: 0px solid #fff200;}
    h3 { font-size: 2.6em; border-bottom: 1px solid #fff200; } 
    h4 { font-size: 2.0em; margin-bottom: 0px; }
    h5 { font-size: 1.5em; } h6 { font-size:1.2em }

    p {
        margin: 5px 0 15px 0;
        font-size:1.2em;
    }
    
/* tablets end */    
}
